<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ room_name }}</title>
    </head>
    <body>
        <h1>{{ room_name }} room</h1>
        <textarea id="messageTextArea" rows="10" cols="50"></textarea>
        <form>
            <input id="textMessage" type="text" />
            <input id="sendMessage" value="Send" type="button" />
        </form>
        <script>
            let webSocket = new WebSocket(
                "ws://127.0.0.1:8000/ws/{{ room_id }}"
            );
            let text_message = document.querySelector("#textMessage");
            let send_button = document.querySelector("#sendMessage");

            webSocket.onopen = () => {
                messageTextArea.value += "Server connect...\n";
            };
            webSocket.onmessage = (message) => {
                messageTextArea.value += message.data + "\n";
            };

            send_button.addEventListener("click", () => {
                send_message = "{{ user.username }}\," + text_message.value;
                sendMessage(send_message);
            });

            function sendMessage(message) {
                webSocket.send(message);
                text_message.value = "";
            }
        </script>
    </body>
</html>
