<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ room_name }}</title>
    </head>
    <body>
        <h1>{{ room_name }} room</h1>
        <div id="status"></div>

        <ul id="messageArea">
            {% for message in message_all%}
            <li>{{ message.user__username }} => {{ message.message }}</li>
            {% endfor %}
        </ul>

        <form>
            <input id="textMessage" type="text" />
            <input id="sendMessage" value="Send" type="button" />
        </form>
        <script>
            let webSocket = new WebSocket(
                "ws://127.0.0.1:8000/ws/{{ room_id }}"
            );
            let text_message = document.querySelector("#textMessage");
            let send_button = document.querySelector("#sendMessage");
            let message_area = document.querySelector("#messageArea");
            let status = document.querySelector("#status");

            webSocket.onopen = () => {
                status.innerText = "Server connect...";
            };
            webSocket.onmessage = (message) => {
                let newLi = document.createElement("li");
                newLi.innerText = message.data;
                message_area.appendChild(newLi);
            };

            send_button.addEventListener("click", () => {
                send_message =
                    "{{ user.username }}\, {{ user.id }}\," +
                    text_message.value;
                sendMessage(send_message);
            });

            function sendMessage(message) {
                webSocket.send(message);
                text_message.value = "";
            }
        </script>
    </body>
</html>
